MONGO_URL=
DB_NAME=scm_project
JWT_SECRET=
JWT_EXPIRE_MINUTES=30
JWT_ALGORITHM=HS256
ENVIRONMENT=dev
APP_VERSION=0.1.0
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DEFAULT_ROLE=user
USERS_COLLECTION_NAME=users
LOGINS_COLLECTION_NAME=logins
SENSOR_DATA_COLLECTION_NAME=sensor_data
SHIPMENTS_COLLECTION_NAME=shipments
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeThisStrongPassword
ADMIN_NAME=System Admin
ADMIN_PHONE=9999999999
DEBUG_ROUTES_ENABLED=false
